In [3]:
from mask_exp import MaskExperiment
import numpy as np
import pandas as pd

In [ ]:
available_models = [
                        "sberbank-ai/ruRoberta-large", 
                        "google/mt5-small", 
                        "cointegrated/rubert-tiny2", 
                        "DeepPavlov/rubert-base-cased", 
                        "sberbank-ai/ruBert-large"
                        ]
results = []

for model in available_models:
    mask_exp = MaskExperiment(model, "../semantic_roles_data.csv", "cuda:0")
    result = mask_exp.run_experiment()
    df = pd.DataFrame(np.concatenate((result["by role"].values, result["average"]), axis=None).reshape(1, -1), columns=list(result["by role"].index) + ["average"])
    df["model"] = mask_exp.model_name
    results.append(df)

In [9]:
results_df = pd.concat(results)

In [12]:
results_df

,addressee,agent,benefactive,causator,experiencer,goal,patient,place,posessor,theme,time,average,model
0,0.565675,0.684308,0.600358,0.624638,0.602357,0.740812,0.585522,0.640497,0.560788,0.611932,0.695952,0.639408,sberbank-ai/ruRoberta-large
1,0.462986,0.581569,0.583333,0.551430,0.545817,0.699679,0.473884,0.649958,0.434661,0.547687,0.638730,0.547118,cointegrated/rubert-tiny2
2,0.633333,0.724984,0.652688,0.677209,0.649751,0.824359,0.623307,0.685965,0.624993,0.647980,0.742812,0.683616,DeepPavlov/rubert-base-cased
3,0.669253,0.663950,0.670968,0.673233,0.604379,0.807692,0.623147,0.679313,0.516667,0.646338,0.644762,0.650808,sberbank-ai/ruBert-large
0,0.538926,0.676314,0.596990,0.616655,0.704057,0.728602,0.528964,0.607258,0.503960,0.585521,0.681598,0.621992,google/mt5-small

In [11]:
results_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

addressee      0.574035
agent          0.666225
benefactive    0.620868
causator       0.628633
experiencer    0.621272
goal           0.760229
patient        0.566965
place          0.652598
posessor       0.528214
theme          0.607892
time           0.680771
average        0.628588
dtype: float64